body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 90%;
    height: 500px;
    margin-top: 20px;
}

.timeline-container {
    width: 90%;
    margin-top: 20px;
}

#timeline-slider {
    width: 100%;
}

#datetime-display {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

.info.legend {
    position: absolute;
    bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend-gradient {
    height: 20px;
    background: linear-gradient(to right, #FFFFFF, #FFFF00, #008000);
    margin-bottom: 5px;
}

.legend-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
