body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 90%;
    height: 500px;
    margin-top: 20px;
}

.timeline-container {
    width: 90%;
    margin-top: 20px;
}

#timeline-slider {
    width: 100%;
}

#datetime-display {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

.info.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}